.experience-card {
  margin: 16px;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.experience-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.experience-text {
  flex: 1;
}

.experience-logo {
  margin-left: 16px;
  width: 80px;
  height: auto;
  overflow: hidden;
}

.experience-logo img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: opacity 0.3s ease-in-out;
}

.experience-card:hover .experience-logo img {
  opacity: 0.8;
}

.experience-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1e3a8a; /* Light Mode */
}

.experience-company {
  color: #0e55a7;
  font-weight: bold;
}

.experience-period {
  color: #0f2b79;
  margin: 4px 0;
}

.experience-description {
  margin-top: 8px;
  color: #18225e;
}

/* Dark Mode */
.dark-mode .experience-card {
  background-color: #2c2c2c;
  border-color: #444;
}

.dark-mode .experience-title {
  color: #f3f4f6;
}

.dark-mode .experience-company {
  color: #e5e7eb;
}

.dark-mode .experience-period {
  color: #9ca3af;
}

.dark-mode .experience-description {
  color: #d1d5db;
}

.dark-mode .experience-logo img {
  opacity: 0.8; /* Dark mode hover */
}
